<h1>Listing zombies</h1>
<table>
	<tr>
		<th>Name</th>
		<th>Graveyard</th>
	</tr>
	<% zombies = Zombie.all %>
	<% zombies.each do |zombie| %>
	<tr>
		<td><%= link_to zombie.name, zombie %></td>
		<td><%= zombie.graveyard %></td>
	</tr>
	<% end %>
</table>
<% if zombies.size == 0 %>
  <em>No Zombies found.</em>
<% end %>